# Dependencies
node_modules
**/node_modules

# Environment files
.env
# .env.* // if you want to keep env files for different environments, uncomment this line
# TODO: change this in production
!.env.example

# Build output
dist
**/dist

# IDE files
.idea
.vscode
*.swp
*.swo